<!DOCTYPE html>
<html>
<head>
	<title>3G's</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ url_for('static', filename='js/jquery.1.9.js') }}"></script>
	<!-- jQuery
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script> -->

	<!-- jQuery Easing -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>

	<!-- Functions -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
	{% block js %}{% endblock js %}
</head>
<body>
	{% block main %}{% endblock main %}
</body>
</div>